.CalculatorApp {
  text-align: center;
    position: absolute;
    display: flex;
    flex: auto;
    width: 100%;
    height: 100%;
    background-color: #282c50;
    flex-direction: column;
}

.CalculatorApp-content {
  display: flex;
  flex-direction: column;
  padding: 1.5vh 0;
}