.ButtonFrame {
    background-color: #282c50;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    color: white;
    padding-bottom: 2vh;
}




