:root {
  --primary: #4628ff;
  --white: #fdfdfd;
}

.btn {
    font-family: "Viaoda Libre", cursive;
    font-weight: 400;
    border-radius: 1000px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: translateY(-3px);
}

.btn--primary--solid {
    background-color: var(--primary);
    color: var(--white);
    border: none;
}

.btn--medium {
    padding: 10px 20px;
    font-size: 20px;

}